<%= simple_form_for(@space) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.label :image %>
    <%= f.file_field :image %>

  </div>

    <div class="form-actions">
  <%= link_to profile_spaces_path(@space) do %>
      <%= f.button :submit, 'Créer un Co\'Work' %>
  <% end %>
    </div>
<% end %>
