<div class="container">
  <% content_for :extra_header do %>
    <%= render "shared/banner" %>
  <% end %>

  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <h1><%= @space.title %></h1>

      <div class="show-rating">
        <div class="card-rating">
           <div class="jaune">
               <% @space.ranking.times do %>
                 <%= link_to icon('fa', 'star'), "#", style:"color: #F9C72E;" %>
               <% end %>
             </div>
             <div class="grey">
               <% (5-@space.ranking).times do %>
                 <%= link_to icon('fa', 'star'), "#", style:"color: #CCCCCC;" %>
               <% end %>
            </div>
        </div>
      </div>

      <div class="image">
        <div><%= image_tag @space.owner.image, alt: "user_img", class: "card-user-show" %></div>
        <p class="owner-name"><%= @owner.first_name %> <%= @owner.last_name %></p>
      </div>
      <div class="description">
        <p class="renseignement">Renseignement sur votre hôte :</p>
        <p class="describe">Description : <%= @space.description %></p>
        <p class="owner">Email : <%= @owner.email %></p>
      </div>

      <div class="owner_description">
        <div class="description">
          <p class="renseignement">Renseignement sur votre hôte :</p>
          <p>Bienvenue dans notre "creuset lyonnais". A l'origine, un creuset est un pot en métal servant à la fusion d'autres métaux
          De nos jours, il évoque dans des expressions imagées, des lieux où ont été brassés différents groupes de personnes.</p>
        </div>
      </div>

      <div class="owner_description">
        <h2 class="renseignement">Équipement :</h2>
        <div class="flex_box_equipement">
          <div>
            <p><i class="fas fa-snowflake"></i> Climatisation</p>
            <p><i class="fas fa-wifi"></i> Wi-Fi</p>
          </div>
          <div>
            <p><i class="fas fa-sun"></i> Chauffage</p>
            <p><i class="fas fa-bath"></i> Équipements de base</p>
          </div>
        </div>
      </div>

      <div class="wrapper-reviews">
        <h2>
          <%= pluralize @space.reviews.size, "review" %>
        </h2>

        <div id="reviews">
          <% if @space.reviews.blank? %>
            Soit le primier à laisser un commantaire à <strong><%= @owner.first_name %></strong>
          <% else %>
            <% @space.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
          <%= render 'reviews/form', space: @space, review: @review %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 book-card-col">
      <div class="book-card">
        <% if @space.available? %>
          <p class="text-center"> L'appartement est disponible</p>
          <%= render 'bookings/form' %>
        <% else %>
          <p class="text-center">Cet appartement n'est plus disponible</p>
          <%= link_to "Retour aux espaces", spaces_path, class: "btn btn-large btn-nav btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
