<%= render "shared/banner" %>
<h1><%= @space.title %></h1>
<br>
<div class="describe">Description : <%= @space.description %></div>
<div class="owner">Owner email : <%= @owner.email %></div>
<br>

<% if @space.available? %>
  <h2> L'appartement est disponible</h2>
  <%= render 'bookings/form' %>
<% else %>
  <h2>L'appartement n'est plus disponible</h2>
<% end %>

<br>

<p><%= link_to "Back to index", spaces_path %></p>


