<% if user_signed_in? %>
<% else %>
<div class="banner-landing" style="background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1441878/saloon_HD_rv7ekk.jpg');">

  <div class="banner-content">
    <div class="typed">
      <h1 id="banner-landing"></h1>
    </div>


      <%= simple_form_for(User.new, url: user_registration_path) do |f| %>
      <div class="sign">
        <div>
          <%= f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Je m'inscris", class:"btn btn-warning btn-lg"%>
        </div>
        </div>
      <% end %>

  </div>
</div>
<% end %>
