<% if user_signed_in? %>

    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag "logo_B.png", alt: "logo" %>
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <%= link_to "My Spaces", profile_spaces_path, class:"links_navbar" %>
        <%= link_to "My Bookings", new_user_registration_path, class:"links_navbar" %>

        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">My Space</a></li>
            <li><a href="#">My Booking</a></li>
          </ul>
        </div>
      </div>
    </div>


  <% else %>

  <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "logo_B.png", alt: "logo" %>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <%= link_to "À propos", new_user_registration_path, class:"links_navbar" %>
      <%= link_to "M'inscrire", new_user_registration_path, class:"links_navbar" %>
      <%= link_to "Connexion", new_user_session_path, class: "btn btn-large btn-nav btn-danger" %>
     </div>
    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">à propos</a></li>
          <li><%= link_to "M'inscrire", new_user_registration_path %></li>
          <li><%= link_to "Connexion", new_user_session_path, class: "btn btn-large btn-danger" %></li>
        </ul>
      </div>
    </div>
  </div>

  <% end %>
