

<div class="container">
  <h1>Mes réservations</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8">

      <% @bookings.each do |booking| %>

        <div class="col-xs-12 col-md-6 card_margin">

          <div class="card-space">

              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.space.image %>');">
                <div class="card-description">
                  <h2><%= booking.space.address %></h2>
                </div>
                </div>
                <div>
                  <p id="description-1">Co'work chez <%= booking.space.owner.first_name %> # <%= booking.space.price %> €/jour</p>

                <%= link_to "Supprimer ma réservation",
                booking_path(booking),
                method: :delete,
                class: "btn btn-danger" %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>










