
<div class="container">
  <h1>My spaces</h1>
  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <%  @spaces.each do |space| %>
        <%= link_to profile_space_path(space) do %>

        <div class="col-xs-12 col-sm-6 card_margin">

          <div class="card-space">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= space.image %>');">
              <% if space.available? %>
              <div class="space-available"><i class="fas fa-dot-circle"></i></div>
              <% else %>
              <div class="space-not-available"><i class="fas fa-dot-circle"></i></div>
              <% end %>
              <div class="card-description">
                <h2><%= space.title %></h2>
              </div>
            </div>
            <div class="foot_card">

              <div class="rating">
                <div class="star-container">
                  <input type="radio" name="starred" id="five"/>
                  <input type="radio" name="starred" id="four"/>
                  <input type="radio" name="starred" id="three"/>
                  <input type="radio" name="starred" id="two"/>
                  <input type="radio" name="starred" id="one"/>
                  <label for="one"></label>
                  <label for="two"></label>
                  <label for="three"></label>
                  <label for="four"></label>
                  <label for="five"></label>
                </div>
              </div>
              <div class="name_user_card">Chez <%= space.owner.first_name %></div>
              <%= image_tag space.owner.image, alt: "user_img", class: "card-user" %>

            </div>
          </div>

        </div>

        <% end %>
      <% end %>
    </div>



    <%= link_to "Create a new space", new_space_path(@space), class: "btn btn-danger" %>
  </div>
</div>
