<div class="container">
  <% content_for :extra_header do %>
    <%= render "shared/banner" %>
  <% end %>


  <h1><%= @space.title %></h1>

  <div class="flexbox">

    <div class="owner-profile">
      <div class="describe">Description : <%= @space.description %></div>
      <div class="owner">Owner email : <%= @space.owner.email %></div>
    </div>
  </div>

  <br>
  <br>
  <br>


  <span><%= link_to 'Modifier', edit_profile_space_path, class: "btn btn-danger" %></span>

  <span><%= link_to "Supprimer", profile_space_path(@space), method: :delete, class: "btn btn-danger" %></span>
  <span><%= link_to "Retour sur mes espaces", profile_spaces_path, class: "btn btn-danger" %></span>

</div>
